* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 1rem;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and(min-width:768px) {
  html {
    font-size: 16px;
  }
  @media screen and (min-width: 992px) {
    html {
      font-size: 20px;
    }
  }
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  font-family: "Courier New", Courier, monospace;
}
h3 {
  font-family: "Times New Roman", Times, serif;
}
main {
  max-width: 40ch;
  margin: 0;
  padding: 1rem;
  max-width: 70ch;
}
header {
  text-align: center;
  background-color: grey;
  padding: 2.5rem 1rem;
  position: relative;
  right: 0.25rem;
}
article + article {
  margin-top: 2.5rem;
}
article {
  margin-top: 2.5rem;
}
.nav-link {
  padding: 1rem;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: darkslategrey;
}
.nav-link:active {
  color: lightgreen;
}
article:nth-child(2) {
  border-top: 0.25rem solid black;
}
article:nth-child(3) {
  border-top: 0.25rem solid black;
}
article:nth-child(4) {
  border-top: 0.25rem solid black;
}
article:nth-child(5) {
  border-top: 0.25rem solid black;
}

::selection {
  background-color: green;
  color: white;
}
h2::after {
  content: "🦸‍♂️";
}

html {
  font-family: inherit;
  font-size: 20px;
}

.experience-heading {
  display: inline-block;
  background-color: hidden;
}
.experience-subheading {
  display: inline-block;
}
header {
  position: relative;
  bottom: 1rem;
}
aside {
  color: white;
  background-color: hotpink;
  padding: 0.25rem;
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  border-radius: 0.5rem;
}
aside {
  position: fixed;
}

@media print {
  .hire-me {
    display: none;
  }
}
@media print {
  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and(768px) {
  .navigation {
    flex-direction: row;
    align-items: center;
  }
}
.experience {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
}
