* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 1rem;
  --background-color: white;
  --text-color: black;
  --accent-color: hotpink;
  --brand-color: green;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and(min-width:768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  margin: 0;
  padding: 1rem;
  max-width: 60ch;
}
header {
  text-align: center;
  background-color: grey;
  padding: 1rem 1rem;
  position: relative;
  right: 0.25rem;
  background-image: linear-gradient(grey, lightgray);
}
article + article {
  margin-top: 2.5rem;
}
article {
  margin-top: 2.5rem;
}
.nav-link {
  padding: 1rem;
  transition: background-color 1s;
  color: var(--text-color);
}
.nav-link:focus {
  background-color: silver;
}

.nav-link:hover {
  color: darkslategrey;
  background-color: silver;
}
.nav-link:active {
  color: var(--brand-color);
}
article:nth-child(2) {
  border-top: 0.25rem solid var(--text-color);
}
article:nth-child(3) {
  border-top: 0.25rem solid var(--text-color);
}
article:nth-child(4) {
  border-top: 0.25rem solid var(--text-color);
}
article:nth-child(5) {
  border-top: 0.25rem solid var(--text-color);
}

::selection {
  background-color: var(--brand-color);
  color: var(--accent-color);
}
.über-mich::after {
  content: "🦸‍♂️";
}

html {
  font-family: inherit;
  font-size: 20px;
}

.experience-heading {
  display: inline-block;
  background-color: hidden;
}
.experience-subheading {
  display: inline-block;
}
header {
  position: relative;
  bottom: 1rem;
}
aside {
  color: var(--text-color);
  background-color: var(--accent-color);
  padding: 0.25rem;
  position: absolute;
  top: 1.35rem;
  right: 1.5rem;
  border-radius: 0.5rem;
}
aside {
  position: fixed;
}

.hire-me:hover {
  transition: 2s;
  transform: rotateX(360deg);
}

@media print {
  .hire-me {
    display: none;
  }
}
@media print {
  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and(768px) {
  .navigation {
    flex-direction: row;
    align-items: center;
  }
}
.experience {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(white, white);
  justify-content: space-between;
}
footer {
  height: 50px;
  width: 600px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(grey, gainsboro);
}
